.app-header {
    height: 330px;
    position: relative;
    /* background-color: rgb(194, 34, 167); */
    padding-top: 20px;
    background-image: url('../images/45-degree-fabric-light.png');
}


h1 {
    height: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0em;
    font-size: 40px;
    color: white;
    /* viewport: */
}

.background-image {
    background-color: rgb(147, 240, 128);
}


  
/* Mobile */
@media only screen and (max-width: 960px) {
    .app-header {
      /* width: 100%; */
      width: 100%;
      background-color: rgb(194, 34, 167);
    }
}
  
  
/* Desktop */
@media only screen and (min-width: 960px) {
    .app-header {
        /* width: 100%; */
        width: 40%;
        background-color: rgb(169, 172, 2);
        float: left;
        margin-top: 70px;
    }
}