.app-header {
    height: 330px;
    width: 100%;
    position: relative;
    background-color: rgb(194, 34, 167);
    padding-top: 20px;
    background-image: url('../images/45-degree-fabric-light.png');
}
/* @media (max-width:1200px){
    .column{
        width: 100%;
    }
}
@media (min-width:1200px) and (max-width:1289px){
    .app-header {
        background-image: url('../images/45-degree-fabric-light.png');
    } */

/* } */
.submit-button {
    /* display: inline-block; */
    float: left;
    padding-top: 20%;
    background-color: rgb(194, 34, 167);
    border-radius: 10px;
    border: 2px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    width: 200px;
}


h1 {
    height: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0em;
    font-size: 40px;
    color: white;
    /* viewport: */
}

.background-image {
    background-color: rgb(147, 240, 128);
}
