nav {
  background-color:#FFFF;
  height: 120px;
  color: #FFFF;
  /* font-family:  #FFFF; */
  /* text-align: center; */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 3;
  text-align: center;
}

.left-side {
  text-align: left;
  font-family: 'Bungee';
  z-index: 1;
  text-transform: uppercase;
  color: rgb(194, 34, 167);
  display: inline-block;
  float: left;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  z-index: 2;
  font-size: 35px;
}

.right-side {
  text-align: right;
  z-index: 1;
  /* float: right;  */
  color: rgb(194, 34, 167);
  display: inline-block;
  float: right;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  z-index: 2;
  font-size: 35px;
}

.sticky {
  position: fixed;
  top: 0;
  /* width: 120%; */
  font-weight: 100;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 8%;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* #panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #b2ec11;
  border: solid 1px #c3c3c3;
}
#panel {
  padding: 5px;
  display: none;
} */

#pullicon {
  color: rgb(194, 34, 167);
  position: relative;
}

#pullicon:hover {
  animation-duration: 1.5s;
  animation-name: pulldown;
  animation-iteration-count: infinite;
}

@keyframes pulldown {
  from {
    color: rgb(194, 34, 167);
    top: 0px;
  }
  66% {
    color: #FFFFFF;
    top: 5px;
  }
  to {
    color: darkblue;
    top: 0px;
  }
}

@media (min-width: 1024px) {
  nav {
    background-color: #fff;
  }
}