nav {
  background-color:#FFFF;
  height: 120px;
  color: #FFFF;
  /* font-family:  #FFFF; */
  /* text-align: center; */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 3;
  text-align: center;
}

.left-side {
  text-align: left;
  font-family: 'Bungee';
  z-index: 1;
  text-transform: uppercase;
  color: rgb(194, 34, 167);
  display: inline-block;
  float: left;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  z-index: 2;
  font-size: 35px;
}

.right-side {
  text-align: right;
  z-index: 1;
  color: rgb(194, 34, 167);
  display: inline-block;
  float: right;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  z-index: 2;
  font-size: 35px;
}

.sticky {
  position: fixed;
  top: 0;
  /* width: 120%; */
  font-weight: 100;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#arrowicon {
  color: rgb(194, 34, 167);
  position: relative;
  width: 30px;
  height: 30px;
}

#arrowicon:hover {
  animation-duration: 1.2s;
  animation-name: pulldown;
  animation-iteration-count: infinite;
}

@media (min-width: 450px) {
  body.app-header {
    padding-top: 60px;
  }

  main {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .tweet {
    width: 100%;
  }

  #new-tt-form-container {
    padding: 5% 0%;
  }

  nav {
    width: 90%;
    left: 5%;
    right: 5%;
  }
}

@media (min-width: 1024px) {
  body.image_border {
    width: 66%;
    margin-left: 5%;
    float: left;
  }

  main {
    width: 55%;
    margin-right: 5%;
    margin-top: 160px;
  }

  header.app-header {
    width: 20%;
    height: 80%;
  }
}
