nav {
  background-color:#FFFF;
  height: 120px;
  color: #FFFF;
  top: -50px; /* Hide the navbar 50 px outside of the top view */

  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 3;
  text-align: center;
}

.left-side {
  text-align: left;
  font-family: 'Bungee';
  text-transform: uppercase;
  color: rgb(194, 34, 167);
  display: inline-block;
  float: left;
  padding-top: 1.5em;
  padding-left: 1.5em;
  /* padding-right: 1.5em; */
  padding-bottom: 1.5em;
  z-index: 2;
  font-size: 35px;
}

.right-side {
  text-align: right;
  color: rgb(194, 34, 167);
  display: inline-block;
  float: right;
  padding-top: 0.5em;
  padding-left: 1.5em;
  padding-right: 0.5em;
  padding-bottom: 1.5em;
  z-index: 2;
  font-size: 35px;
}

.sticky {
  position: fixed;
  top: 0;
  font-weight: 100;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 200px; */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#arrowicon {
  color: rgb(194, 34, 167);
  position: relative;
  width: 20px;
  /* height: 30px; */
}

#arrowicon:hover {
  animation-duration: 1.2s;
  animation-name: pulldown;
  animation-iteration-count: infinite;
}

/* Mobile */
@media only screen and (max-width: 960px) {
 
  .sticky {
    width: 100%;
    color: #fff;
    background-color: rgb(194, 34, 167);
    color: #FFFF;
    background-image: url('../images/45-degree-fabric-light.png');
    width: 100%;
  }

  .right-side {
    /* width: 34%; */
    color: #fff;
    width: 34%;
  }

  .left-side {
    color: white;
    width: 34%;
  }


}


/* Desktop */
@media only screen and (min-width: 960px) {

  .sticky {
    width: 100%;
    color: #fff;
    background-color: rgb(50, 60, 144);
    color: #FFFF;
    background-image: url('../images/45-degree-fabric-light.png');
    width: 100%;
  }

  .right-side {
    /* width: 34%; */
    color: #fff;
    width: 34%;
  }

  .left-side {
    color: white;
    width: 34%;
  }

  #arrowicon {
    width: 34%;
    /* height: 50%; */
    color: #fff;
  }

}