textarea {  
    width: 100%;
    border-bottom-width: 3px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    outline:0px none transparent;
    background-color: transparent;
    outline: none;
}

form > input {
    display:block;
    width: 100px;   
    text-decoration-color: #ffffff;
    text-emphasis-color: #ffffff;
    background-color: cadetblue;
}

form > span {
    float: right;
    border-radius: 10px;
    color: black;
}

span.emoji_right {
    margin: auto;
    float: right;
}

span.some_days_ago {
    margin: auto;
    float: left;
}